<h2><%= @wolf.name %></h2>

<p>Name:      </p> <%= @wolf.name        %></p>
<p>link:      </p> <%= @wolf.link        %></p>
<p>Description</p> <%= @wolf.description %></p>

<p><a href ="/">Main Menu</a></p>

<p><a href="/wolves/<%= @wolf.id %>/edit">Update Status</a></p>

<p><a href="/wolves/new">Join Howlr</a></p>

<p><a href="/wolves">Return the Pack</a></p>
